* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --first-color: rgb(141, 134, 134);
    --primary-color: rgb(29, 197, 189);
    --second-color: #33f564;
    --text-color: #000000;
    --background-color: #fff;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.regexPage {
    display: flex;
    gap: 2rem;
    min-height: 100vh;
}
.navBar {
    flex: 1;
    background-color: var(--first-color);
}
.contain {
    flex: 4;
}
.true {
    background-color: var(--second-color);
}
.regexStr {
    display: flex;
    padding: 1rem;
    background-color: var(--primary-color);
    margin-bottom: 1rem;
}
.regexStr input {
    flex: 1;
    background-color: transparent;
}
.regexStr input,
.regexStr button {
    border: none;
    outline: none;
    font-size: 1.5rem;
}
.regexStr button {
    background-color: transparent;
    cursor: pointer;
}
.result {
    background-color: var(--primary-color);
    padding: 1rem;
}
.result span {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}
